acos-backend/Trained/

acos-backend/ACOS-main/Extract-Classify-ACOS/output/
acos-backend/ACOS-main/Lib/
acos-backend/ACOS-main/__pycache__/
acos-backend/ACOS-main/Scripts/

.venv/

acos-frontend/

--pycache__/
*.pyc

.DS_Store

.ipynb_checkpoints/

acos-backend/ACOS-main/Extract-Classify-ACOS/bert-base-uncased/